/config/*
!/config/routes.local.php
!/config/autoload/
/config/autoload/bbcode.global.php
/config/autoload/database.local.php
/config/autoload/dependencies.global.php
/config/autoload/filesystem.global.php
/config/autoload/forum.global.php
/config/autoload/htmlpurifier.global.php
/config/autoload/mail.global.php
/config/autoload/modules.global.php
/config/autoload/news.global.php
/config/autoload/system.global.php
/config/autoload/system.local.php
/assets/
/.github/
/data/
/modules/admin/
/modules/album/
/modules/community/
/modules/downloads/
/modules/forum/
/modules/guestbook/
/modules/help/
/modules/homepage/
/modules/images/
/modules/language/
/modules/library/
/modules/login/
/modules/mail/
/modules/news/
/modules/online/
/modules/rss/
/modules/test/
/modules/notifications/
/modules/profile/
/modules/redirect/
/modules/registration/


/themes/admin
/themes/example
/themes/default/src/
/themes/default/templates/
/themes/default/assets/ckeditor5/
/themes/default/assets/css/
/themes/default/assets/fonts/
/themes/default/assets/js/
/themes/default/assets/images/
/themes/default/assets/wysibb/
/themes/default/assets/icons/


/php-multiple-file-upload/
/system/
/upload/
/*.js
/*.yml
/.editorconfig
/*.php
/.htaccess
/*.json
/*.lock
/favicon.ico
/*.dist